@use '../abstracts/' as *;

.searchNews {
	min-height: 100vh;
	background: var(--background-color);
	padding: 4rem 0;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}

	&__sort {
		display: flex;
		justify-content: center;
		gap: 2rem;

		@include breakpointDesktop(600px) {
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}

		div {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			label {
				color: var(--text-color);
			}

			select {
				background: none;
				padding: 0.5rem;
				outline: none;
				border: 1px solid $color-red;
				color: var(--text-color);
				cursor: pointer;

				option {
					background: var(--background-color);
				}
			}
		}
	}

	&__empty {
		display: flex;
		align-items: center;
		gap: 3rem;
		padding: 3rem 2rem;
		background: var(--card-background-color);

		i {
			color: $color-red;
			font-size: 2rem;
		}

		p {
			color: var(--text-color);
		}
	}
}
