:root {
	--text-color: #101010;
	--background-color: #f2f2f2;
	--card-background-color: #f0dada;
	--navbar-background-color: #5c1212;
}

[data-theme='dark'] {
	--text-color: #fafafa;
	--background-color: #08090b;
	--card-background-color: #0a0d12;
	--navbar-background-color: #571111;
}

$text-light: #fafafa;
$text-dark: #101010;
$color-red: #e62b34;
$background-light: #f2f2f2;
$background-card-light: #f3ecec;
