@use '../abstracts' as *;

#scrollToTop {
	position: fixed;
	right: 5%;
	bottom: -10%;
	padding: 1.4rem;
	border: none;
	background: $color-red;
	border-radius: 50%;
	cursor: pointer;
	z-index: 999999;
	opacity: 0;
	transition: opacity 0.3s, bottom 0.3s;

	&.active {
		opacity: 1;
		bottom: 5%;
	}

	i {
		font-size: 1.3rem;
		color: $text-light;
	}

	&:hover {
		opacity: 0.8;
	}
}
