@use '../abstracts/' as *;

.navbar {
	background: $color-red;

	a {
		color: $text-light;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.3rem 0;
		/* border-bottom: 1px solid rgba(128, 128, 128, 0.5); */
	}

	nav {
		position: relative;
		display: flex;
		gap: 10rem;
		opacity: 1;
		transition: right 0.4s;

		@include breakpointDesktop(991px) {
			height: 0;
			opacity: 0;
			overflow: hidden;
			right: -100%;
			flex-direction: column;

			ul {
				flex-direction: column;

				li {
					width: 100%;

					a {
						display: flex;
						width: 100%;
						padding: 0.5rem 0;
						color: var(--text-color);
					}
				}
			}
		}

		&.active {
			opacity: 1;
			z-index: 9;
			position: fixed;
			top: 0;
			right: 0;
			height: 100%;
			width: 40%;
			padding: 4rem 2rem 3rem;
			background: var(--card-background-color);
			box-shadow: -10px 0px 21px 0px rgba(0, 0, 0, 0.315);
			gap: 3rem;
			overflow-y: scroll;

			@include breakpointDesktop(580px) {
				width: 50%;
			}

			.navbar__right {
				display: flex;

				i {
					color: $color-red;
				}
			}

			#mobile-closeBtn {
				display: flex;
			}
		}

		ul {
			display: flex;
			gap: 2rem;

			a {
				position: relative;
				padding: 2rem 0;
				transition: 0.3s;

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 100%;
					background: var(--navbar-background-color);
					height: 4px;
					width: 0;
					transition: 0.4s;
				}

				&:hover {
					color: var(--navbar-background-color);

					&:after {
						left: 0;
						width: 100%;
					}

					@include breakpointDesktop(991px) {
						color: var(--text-color);

						&:after {
							left: 50%;
							width: 0;
						}
					}
				}
				&.active {
					color: var(--navbar-background-color);

					&:after {
						left: 0;
						width: 100%;
					}
				}
			}
		}
	}

	&__right {
		position: relative;
		display: flex;
		gap: 1.5rem;

		@include breakpointDesktop(991px) {
			display: none;
		}

		button,
		a {
			border: none;
			width: 30px;
			background: none;
			cursor: pointer;

			i {
				font-size: 1.1rem;
				color: $text-light;
				transition: 0.3s;
			}

			&:hover {
				i {
					color: var(--navbar-background-color);
				}
			}
		}

		div {
			position: absolute;
			background: rgba(63, 63, 63, 0.87);
			padding: 0.5rem 1.5rem;
			color: $text-light;
			z-index: 10;
			transition: 0.3s;
			opacity: 0;
			visibility: hidden;

			&:nth-of-type(1) {
				left: -50%;
				top: 190%;
			}

			&:nth-of-type(2) {
				left: 23%;
				top: 190%;
			}
		}

		a {
			&:hover {
				~ div:nth-of-type(1) {
					opacity: 1;
					visibility: visible;
					top: 120%;

					@include breakpointDesktop(991px) {
						opacity: 0;
						visibility: hidden;
						top: 190%;
					}
				}
			}
		}

		button {
			&:hover {
				~ div:nth-of-type(2) {
					opacity: 1;
					visibility: visible;
					top: 120%;

					@include breakpointDesktop(991px) {
						opacity: 0;
						visibility: hidden;
						top: 190%;
					}
				}
			}
		}
	}

	#mobile-closeBtn {
		position: absolute;
		top: 4%;
		right: 15%;
		display: none;
		border: none;
		background: none;
		cursor: pointer;

		i {
			font-size: 1.3rem;
			color: $color-red;
		}
	}

	&__hamburger {
		display: none;

		@include breakpointDesktop(991px) {
			display: block;
			cursor: pointer;
			outline: none;
			border: none;
			z-index: 1;
			background: transparent;

			span {
				display: block;
				width: 25px;
				height: 3px;
				margin: 5px auto;
				transition: all 0.5s ease;
				background: $text-light;
			}

			&.active {
				span {
					background: $color-red;
				}
			}

			&.active span:nth-child(1) {
				transform: translateY(8px) rotate(45deg);
			}

			&.active span:nth-child(2) {
				opacity: 0;
			}

			&.active span:nth-child(3) {
				transform: translateY(-8px) rotate(-45deg);
			}
		}
	}
}
