@use '../abstracts/' as *;

#searchNewsForm {
	height: 50px;
	width: 100%;
	margin-top: 5rem;
	display: flex;
	border-radius: 10px;
	border: 2px solid $color-red;
	transition: 0.3s;
	/* box-shadow: 0px 0px 5px 0px var(--text-color); */
	overflow: hidden;

	input {
		width: 100%;
		padding: 1.5rem;
		background: none;
		border: none;
		outline: none;
		color: var(--text-color);
		font-size: 1rem;

		&::placeholder {
			color: var(--text-color);
			font-size: 0.9rem;
		}
	}

	button {
		background: $color-red;
		color: $text-light;
		border: none;
		padding: 0.5rem 1rem;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		transition: 0.3s;

		i {
			transition: 0.3s;
		}

		&:hover {
			opacity: 0.8;

			i {
				transform: translateY(-2px);
			}
		}
	}
}
